body {
	padding: 10px 100px;
	text-align: left;
	font-family: 'Balsamiq Sans', cursive;
	background-color: #dce4e5;
}
li {
	line-height: 30px;
}
footer {
	text-align: center;
}
.main {
	max-width: 600px;
    margin: 0 auto;
    padding:10px 40px 20px 40px;
    background-color: #f0f4f5;
}
.header__img {
	margin-bottom: 10px;
	margin-top: 10px;
	height: 400px;

}
.list {
	border:3px #37aac4  solid;
	width: 300px;
}
.author {
	text-align: center;
}

